body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(221, 225, 230);
    color: rgb(7, 143, 7);
 }
 p{
    text-align: justify;
 }


 .roundedimage{
    border-radius: 10px;
 }
 
 .formatheader {
    font-size: larger;
    font-weight: bold;
    color: rgb(173, 52, 52);
 }